* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

nav {
    background-color: steelblue;
    padding: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    padding: 25px;
}

nav a:hover {
    color: steelblue;
    background-color: white;
}

h1 {
    margin: 50px 0;
    padding: 25px;
}

img {
    max-width: 100%;
}

footer {
    background-color: steelblue;
    color: white;
}

footer p {
    padding: 25px;
}